.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.tableWrapper {
  background-color: #191919;
  border-radius: 15px;
  padding: 20px 15px;
  width: 750px;
  height: 450px;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 1449px) {
  .main {
    flex-direction: column-reverse;
    gap: 15px;
  }
}
