.selectWrapper {
    display: flex;
    align-items: center;
    justify-content: inherit;
    position: relative;
    background-color: #313131;
    border-radius: 15px;
    height: 40px;
    border: 1px solid #515151;
    width: 160px;
}

.dropDown {
    top: 39px;
    left: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #313131;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 2;
    width: 80%;
    border: 1px solid #515151;
}

.dropDownItem {
    padding: 15px;
    cursor: pointer;
    background-color: #313131;
}

.dropDownItemSelected {
    background-color: #000;
}

.arrowOpen {
    transform: rotate(180deg);
}

.arrowClose {
    cursor: pointer;
}

.arrowWrapper {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input {
    background-color: #313131;
    width: 75px;
    height: 35px;
    border: none;
}

.numericInput {
    margin-left: 20px;
}

.selected {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin: 10px;
    max-width: 95px;
    overflow: hidden;
}

.selectedItems {
    cursor: pointer;
}
