.table {
    border: 1px solid #313131;
    border-radius: 15px;
}

.tableHeader {
    display: flex;
    color: #fff;
}

.cellHeader {
    width: 180px;
    height: 36px;
    padding: 7px 15px;
    background-color: #000;
    border-right: 1px solid #313131;
}

.cellHeader:first-child {
    border-top-left-radius: 15px;
}

.cellHeader:last-child {
    border-top-right-radius: 15px;
}

.cellHeader:last-child {
    border-right: none;
}

.cell {
    width: 180px;
    height: 40px;
    padding: 10px 15px;
}

.cellNumber {
    text-align: right;
}

.row {
    display: flex;
    background-color: #313131;
    color: #fff;
}

.row:nth-child(even) {
    background-color: #191919;
}

.row:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
